.btn-section {
  margin-top: 3rem;
  width: 50vw;
  display: block;
}

.btn-section > button {
  margin: 0.5rem;
}

// Btn Mixin
@mixin btn($boxShadow: null, $boxShadowOnHover: null) {
  outline: none;
  // background: white;
  border: none;
  border-radius: 4px;
  padding: 1rem 2rem;
  height: 44px;
  font-weight: bold;

  @if ($boxShadow) {
    box-shadow: $boxShadow;
  } @else {
    box-shadow: 0px 4px 8px rgba($color: #000000, $alpha: 0.25);
  }

  &:hover {
    cursor: pointer;

    @if ($boxShadow) {
      box-shadow: $boxShadowOnHover;
    } @else {
      box-shadow: 0px 8px 16px rgba($color: #000000, $alpha: 0.25);
    }
  }
}

.get {
  $bg: #4385ff;

  color: white;
  background: $bg;

  @include btn(
    0px 4px 8px rgba($color: $bg, $alpha: 0.25),
    0px 16px 32px rgba($color: $bg, $alpha: 0.5)
  );
}

.post {
  $bg: #d343ff;

  color: rgb(0, 0, 0);
  background: $bg;

  @include btn(
    0px 4px 8px rgba($color: $bg, $alpha: 0.25),
    0px 16px 32px rgba($color: $bg, $alpha: 0.5)
  );
}

.update {
  $bg: #ff9843;

  color: rgb(0, 0, 0);
  background: $bg;

  @include btn(
    0px 4px 8px rgba($color: $bg, $alpha: 0.25),
    0px 16px 32px rgba($color: $bg, $alpha: 0.5)
  );
}

.delete {
  $bg: #4643ff;

  color: white;
  background: $bg;

  @include btn(
    0px 4px 8px rgba($color: $bg, $alpha: 0.25),
    0px 16px 32px rgba($color: $bg, $alpha: 0.35)
  );
}

.multi-fetch {
  $bg: #ff55f6;

  color: rgb(0, 0, 0);
  background: $bg;

  @include btn(
    0px 4px 8px rgba($color: $bg, $alpha: 0.25),
    0px 16px 32px rgba($color: $bg, $alpha: 0.35)
  );
}

.custom-headers {
  $bg: #55ff5d;

  color: rgb(0, 0, 0);
  background: $bg;

  @include btn(
    0px 4px 8px rgba($color: $bg, $alpha: 0.25),
    0px 16px 32px rgba($color: $bg, $alpha: 0.35)
  );
}

.transform {
  $bg: #1a1a1a;

  color: white;
  background: $bg;

  @include btn(
    0px 4px 8px rgba($color: $bg, $alpha: 0.25),
    0px 16px 32px rgba($color: $bg, $alpha: 0.35)
  );
}

.error-handling {
  $bg: #1300c2;

  color: white;
  background: $bg;

  @include btn(
    0px 4px 8px rgba($color: $bg, $alpha: 0.25),
    0px 16px 32px rgba($color: $bg, $alpha: 0.35)
  );
}
